<!DOCTYPE html>
<html lang="fr">
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>Travel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
	<link href="{% static 'theme.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
	crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
	integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
	crossorigin=""></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
	<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

	<!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="/">Car-Go</a>
				  {% block navbar-bonus-text %}
				  {% endblock %}
			</div>
			<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Planifier un Voyage</a></li>
					<li><a href="/about">A propos</a></li>
				  </ul>
			</div>
		</div>
	</nav>
	<div class="container" role="main">
	{% block content %}
	{% endblock %}
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>