{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" style="background-color: lightpink;">
        <h1 class="display-4">Nom de ville incorrect</h1>
        <p class="lead">La destination ou le point de départ sont incorrects !</p>
        <hr class="my-4">
        <p>Le programme n'a pas pu calculer votre itinéraire. Veuillez vérifier votre saisie, selectionner une autre ville ou contacter les administrateurs de cette application</p>
        <p>Cliquez <a href="/">ici</a> pour retourner au formulaire</p>
      </div>
{% endblock %}