{% extends "base.html" %}
{% block navbar-bonus-text %}
<a class="navbar-brand">{{ departure }} → {{ destination }}</a>
{% endblock %}

{% block content %}
<h2>{{ departure }} → {{ destination }}</h2>
	{% if result.has_stops %}
		<h3>Il y a {{ result.nbofstops }} arrêts avant d'arriver à {{ destination }}</h3>
		<div id="map"></div>
        <script>
            var map = L.map('map').setView([53, -1], 10);
			L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18
            }).addTo(map);

			L.Routing.control({
				waypoints: [
					L.latLng( {{ coos_dep.lat }},{{ coos_dep.long }} ),
					{% for stopcoord in stopcoords %}
					L.latLng( {{ stopcoord.lat }},{{ stopcoord.long }} ),
					{% endfor %}
					L.latLng( {{ coos_dest.lat }},{{ coos_dest.long }})
				],
				routeWhileDragging: true,
				language: 'fr'
			}).addTo(map);

        </script>

		{% for item in result.stops %}
			{% if item.gmaplink != "" %}
			<p class="card-text"><a href={{ item.gmaplink }}>{{ item.stop }}</a></p>
			{% else %}
			<h4>{{ item.stop }}</h4>
			{% endif %}
		{% endfor %}
	{% else %}
		<div id="map"></div>
			<script>
				var map = L.map('map').setView([53, -1], 10);
				L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
					maxZoom: 18
				}).addTo(map);

				L.Routing.control({
					waypoints: [
					L.latLng( {{ coos_dep.lat }},{{ coos_dep.long }} ),
					L.latLng( {{ coos_dest.lat }},{{ coos_dest.long }})
					],
					routeWhileDragging: true
				}).addTo(map);

			</script>

		<h4>Le trajet vers {{ destination }} est un trajet suffisament court pour ne pas faire d'arrêts.</h4>
	{% endif %}
	<!-- 'boundingbox': ['48.6966969', '49.0166969', '2.1914616', '2.5114616'], -->
<!-- <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=5.5268096923828125%2C44.967227028450296%2C5.772628784179688%2C45.407127892214305&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=11/45.1876/5.6497">Afficher une carte plus grande</a></small> -->
{% endblock %}