{% extends "base.html" %}
{% block content %}
	<h2>Planifier mon trajet</h2>
	
	<form action="/calculate" method="post" style="width: 20em;">
		{% csrf_token %}
		<div class="form-group">
			<label for="departure">Point de départ</label>
			<input class="form-control"  id="departure" type="text" name="departure">
		</div>

		<div class="form-group">
			<label for="destination">Destination </label>
			<input class="form-control" id="destination" type="text" name="destination">
			<div class="form-group">	
		</div>
		<label for="selected_car">Ma voiture: </label>
		<select class="form-control"  name="selected_car" id="selected_car">
		{% for car in all_cars %}
			<option value="{{ car.id }}"> {{ car }} </option>
		{% endfor %}
		</select>
		</div>

		<div class="form-group">
			<button class="btn btn-primary" type="submit" onclick="spinner()">
				Allons-y !
			</button>
		</div> 
	</form>
{% endblock %}